
<header class="jumbotron">
     <section class="container"></section>
</header>

<section class="container">
 <h1>Using the status page</h1>
 <h2>What does the status page list?</h2>
 <p>The status page provides links to dataset sites - that is to say, sites that provide direct links to OpenActive-conformant data. It is intended to be comprehensive, listing all organisations publishing such sites, and thus providing access to all OpenActive data in existence. However, because OpenActive data is open data, and can therefore be implemented by whoever wishes to do so, there may be publishers and users of OpenActive data not listed here.</p>
 <p>If you are interested in publishing OpenActive open data, or are already doing so, and wish to be listed on this page, please contact us at <a href="mailto:hello@openactive.io">hello@openactive.io</a>.</p>
 <h2>Feed statistics</h2>
 <p>Information about each publisher's feed(s) can be seen by clicking on the associated number in the "Feeds" column.</p>
 <h3>What the numbers mean</h3>
 <h4>Data items passing validation</h4>
 <p>The number (as a percentage) of items in the feed, prior to any processing or correction, that conform to the OpenActive Opportunity specification. Note that a relatively small error present <b>in every item</b> in a feed is sufficient to drop this score to zero. 
 <h4>Validation Results</h4>
 <p>This column provides a link to sample errors noted in validation. Note that these are a <i>sample only</i>: in cases where a large number of errors have been flagged (for example, on every item in a feed), only a small portion of these will typically be reported.</p>
 <h4>Data profile scores</h4>
 <p>'Data profiles' indicate the fitness of data for a particular purpose.</p>
 <p><b>Core:</b> This profile defines the suitability of the data for the most common use-cases in the physical activity sector, including in particular activity finders.</p>
 <p><b>Accessibility:</b> This score indicates the extent to which information relevant to people with accessibility needs has been included in the data.</p>
 <p><b>Social Prescribing:</b>This score indicates the suitability of the data for mapping to the <a href="https://openreferraluk.org/">Open Referral UK</a> data standard for social prescribing.</p>
</section>

<script>
{{#if error}}
  console.warn("Status source fetch: {{error}}");
{{/if}}
</script>