<header class="jumbotron">
  <div class="container">
    <h1>Conformance Status Page</h1>
    <p>Introduction text</p>
  </div>
</header>


<section class="container">
  <p>Main body section</p>
  <table class="table table-hover datasets-table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">License</th>
    </tr>
    </thead>
    <tbody>
    {{#each statusData.publishers}}
      <tr>
        <td><a href="{{url}}">{{name}}</a></td>
        <td>{{#licenseSnippet license }}{{/licenseSnippet}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <p><a class="btn btn-secondary" href="{{statusUrl}}">Download as JSON</a></p>
</section>

{{#if error}}
<script>
  console.warn("Status source fetch: {{error}}");
</script>
{{/if}}
